<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
</head>

<body class="page-bg">

<div class="app-container">

    <!-- MAIN CONTENT -->
    <div class="main-content">

        <!-- TAB HEADER -->
        <div class="tab-header">
            <button class="tab active">Sign In</button>
            <a href="/signup" class="tab">
                <button class="switch-sign">
                    Sign Up
                </button>
            </a>
        </div>

        <!-- FORM CARD -->
        <div class="form-card">

            <!-- LOGO ICON -->
            <div class="form-logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="form-logo-img">
            </div>

            <!-- TITLE -->
            <h2 class="center">Welcome Back</h2>

            <p class="center subtitle">
                Continue your sustainable cooking journey
            </p>

            <!-- PASSWORD -->
            <form method="POST" action="/signin">
                <label>Email Address</label>
                <input type="email" name="email" placeholder="Enter your email" required>

                <label>Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>

                <p class="forgot"><a href="/forgot-password">Forgot Password?</a></p>

                <button type="submit" class="primary-btn">Sign In</button>
            </form>
            <p class="guest-continue"><a href="/index" class="outline-btn continue-guest-btn">Continue as Guest</a></p>
        </div>
    </div>

</div>

<script>
</script>

</body>
</html>